@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Regular.otf);
}

@font-face {
    font-family: ppmori;
    src: url(./ppmori.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    width: 100%;
    height: 100%;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
}


#main{
    background-color: #0F0D0D;
    cursor: none;
}


#page1{
    min-height: 100vh;
    width: 100%;
    /* background-color: blue; */
    color: #fff;
    padding-top: 12vw;

}

#nav{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 999;
}

#nav img{
    width: 40px;

}

#navcen{
    display: flex;
    align-items: center;
    gap: 24px;
}

#navcen a{
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    transition: all ease .2s;

}

#nav #navcir{
    width: 20px;
    height: 20px;
    background-color:#fff;
    border-radius: 50%;
}

#navcen a:nth-child(1){
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

#navcen a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

#page1 h1{
    font-size: 8vw;
    font-family: ppmori;
    font-weight: 400;
    margin-left: 6vw;
}

#page1 h2{
    font-size: 8vw;
    font-family: ppmori;
    font-weight: 400;
    margin-left: 26vw;
}

#page1 video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid black;
}

#page2 h1{
    font-size: 7vw;
    font-weight: 500;
    font-family: ppmori;
    color: #111;
}

#page2 #cnt{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

#page2 #left{
    /* background-color: red; */
    width: 40%;
}

#page2 #left h2{
    font-size: 4vw;
    font-weight: 300;
    line-height: 4vw;
}

#page2 #right{
    /* background-color: red; */
    width: 25%;
}


#page2 #right p{
    font-size: 22px;
}

#page2 #right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease .3s;
}

#page2 #right button:hover{
    background-color: #0F0D0D;
    color: #fff;
}

#page3{
    min-height: 210vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
    padding: 0 5vw;
}


#page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin: 80px 50px;
}
#page3 #part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
#page3 #part1 img{
    height: 450px;
    margin-top: 160px;
}
#page3 #part1 video{
    height: 400px;
    margin-top: 40px;
}

#page3 #part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

#page3 #part2 video{
    width: 650px;
    height: 500px;
    object-fit: cover;
    margin-top: 160px;
}
#page3 #part2 img{
    height: 450px;
}

#page4{
    min-height: 110vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
    object-fit: cover;
}
.elem img:nth-child(1){
    left: 1%;
    width: 400px;
    height: 450px;
    object-fit: cover;
}

.elem img:nth-child(3){
    right: 2%;
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.text-div{
    height: 20vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7vw;
    font-weight: 300;
    transition: all ease-out 0.5s;
    color: #fff;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

#page5{
    min-height: 150vh;
    width: 100%; 
    padding: 0 5vw;
}

#page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
    color: #fff;
    
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
    color: #999999;
    transition: backgroundImage ease .2s;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


@media (max-width : 600px) {
 
    .cursor{
        display: none;
    }
    #nav {
        width: 100%;
    }
    #nav img {
        width: 25px;
    }
    #page1 {
        padding-top: 45vw;
        min-height: 80vh;
    }

    #navcen a {
        font-size: 12px;
    }

    #nav #navcir {
        width: 15px;
        height: 15px;
    }

    #page1 video {
        width: 90%;
    }

    #page2 {
        min-height: 90vh;
        width: 100%;
        padding: 0px 5vw;
        color: #fff;
    }
    #page2 h1 {
        font-size: 8vw;
        font-weight: 500;
        font-family: ppmori;
        color: #fff;
    }

    #page2 #cnt {
        height: 60vh;
        width: 100%;
        /* background-color: red; */
        display: grid;
        margin-top: 20px;
    }
    #page2 #left {
        /* background-color: red; */
        width: 85%;
    }
    #page2 #left h2 {
        font-size: 7vw;
        font-weight: 300;
        line-height: 11vw;
    }
    #page2 #right {
        /* background-color: red; */
        width: 100%;
        margin-top: 60px;
    }

    #page3 {
        min-height: 190vh;
        width: 100%;
        padding-top: 100px;
        position: relative;
        z-index: 9;
        padding: 0 5vw;
        color: #fff;
    }

    #page3 h1 {
        font-size: 8.8vw;
        font-weight: 300;
        color: #fff;
        margin: 29px 13px;
    }

    #page3 #part1 {
        display: grid;
        align-items: flex-start;
        justify-content: space-between;
    }

    #page3 #part1 img {
        height: 235px;
        margin-top: 0px;
    }
    #page3 #part1 video {
        height: 240px;
        margin-top: 40px;
    }

    #page3 #part2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
    }
    #page3 #part2 video {
        width: 341px;
        height: 228px;
        object-fit: cover;
        margin-top: 42px;
    }

    #page3 #part2 img {
        height: 254px;
        margin-top: 42px;
    }

    #page4 {
        min-height: 50vh;
        width: 100%;
        z-index: 9;
        position: relative;
        padding: 0px 50px;
    }
    .elem h1 {
        font-size: 10vw;
        font-weight: 300;
        transition: all ease-out 0.5s;
        color: #fff;
    }
    .text-div {
        height: 7vh;
        position: relative;
        z-index: 9;
        overflow: hidden;
    }
    .elem img:nth-child(3) {
        right: 78%;
        width: 100px;
        height: 150px;
        object-fit: cover;
    }
    .elem img:nth-child(1) {
        left: 77%;
        width: 100px;
        height: 150px;
        object-fit: cover;
    }

    #page5 {
        min-height: 90vh;
        width: 100%;
        padding: 0 5vw;
    }


}


